<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
	  <add name="Source" connectionString="Endpoint=sb://uk-erm-sb01.2gis.local/ERM-ProductionRussia,sb://uk-erm-sb03.2gis.local/ERM-ProductionRussia,sb://uk-erm-sb04.2gis.local/ERM-ProductionRussia;StsEndpoint=https://uk-erm-sb01.2gis.local:9355/ERM-ProductionRussia,https://uk-erm-sb03.2gis.local:9355/ERM-ProductionRussia,https://uk-erm-sb04.2gis.local:9355/ERM-ProductionRussia;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={SharedAccessKey}"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="Dest1" connectionString="Endpoint=sb://uk-erm-sb01.2gis.local/ERM-ProductionRussia,sb://uk-erm-sb03.2gis.local/ERM-ProductionRussia,sb://uk-erm-sb04.2gis.local/ERM-ProductionRussia;StsEndpoint=https://uk-erm-sb01.2gis.local:9355/ERM-ProductionRussia,https://uk-erm-sb03.2gis.local:9355/ERM-ProductionRussia,https://uk-erm-sb04.2gis.local:9355/ERM-ProductionRussia;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={SharedAccessKey}"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>