<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="SourceTopic" value="topic.performedoperations"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SourceSubscription" value="9F2C5A2A-924C-485A-9790-9066631DB307"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DestTopic" value="topic.performedoperations.load.russia.import"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Source" connectionString="Endpoint=sb://uk-erm-es10.2gis.local/ERM-LoadRussia,sb://uk-erm-es11.2gis.local/ERM-LoadRussia;StsEndpoint=https://uk-erm-es10.2gis.local:9355/ERM-LoadRussia,https://uk-erm-es11.2gis.local:9355/ERM-LoadRussia;RuntimePort=9354;ManagementPort=9355"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="Dest" connectionString="Endpoint=sb://uk-erm-es10.2gis.local/ERM-LoadRussia,sb://uk-erm-es11.2gis.local/ERM-LoadRussia;StsEndpoint=https://uk-erm-es10.2gis.local:9355/ERM-LoadRussia,https://uk-erm-es11.2gis.local:9355/ERM-LoadRussia;RuntimePort=9354;ManagementPort=9355"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>