<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>

  <connectionStrings>
    <add name="ODATA" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="QuartzJobStore" providerName="SqlServer-20" connectionString="Server=uk-sql01;Database=Quartz;Trusted_Connection=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql02.2gis.local/ERM-Test21,sb://uk-sql01.2gis.local/ERM-Test21;StsEndpoint=https://uk-sql02.2gis.local:9355/ERM-Test21,https://uk-sql01.2gis.local:9355/ERM-Test21;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=fWDhmeSQ9ss+Pp44oUirEizlzEg/oBBOxCaBCsspCLo=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ErmLogging21;Integrated Security=True;Enlist=False;Application Name=ReplicationLoggingService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>