<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Production.Russia"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IntegrationApplicationName" value="ERM.Search"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="ReplicationService.Scheduler.Production.Russia"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TransportEntityPath" value="topic.performedoperations.production.russia.import"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IdentityServiceUrl" value="https://identity.api.prod.erm.2gis.ru"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Erm" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmRU;Integrated Security=True;Enlist=False;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Facts" connectionString="Data Source=uk-sql20\erm;Initial Catalog=CustomerIntelligenceRU;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustomerIntelligence" connectionString="Data Source=uk-sql20\erm;Initial Catalog=CustomerIntelligenceRU;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Transport" connectionString="Data Source=uk-sql20\erm;Initial Catalog=CustomerIntelligenceRU;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logging" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmLoggingRU;Integrated Security=True;Enlist=False"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Infrastructure" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmInfrastructure;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-erm-sb01.2gis.local/ERM-ProductionRussia,sb://uk-erm-sb03.2gis.local/ERM-ProductionRussia,sb://uk-erm-sb04.2gis.local/ERM-ProductionRussia;StsEndpoint=https://uk-erm-sb01.2gis.local:9355/ERM-ProductionRussia,https://uk-erm-sb03.2gis.local:9355/ERM-ProductionRussia,https://uk-erm-sb04.2gis.local:9355/ERM-ProductionRussia;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:05"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" address="net.tcp://uk-busdgpp01.2gis.local:8091/BrokerApiService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="Uk.Bus.Service@2gis.local"/>
        </identity>
      </endpoint>

      <endpoint name="NetTcpBinding_IBrokerApiReceiver" address="net.tcp://uk-busdgpp01.2gis.local:8091/BrokerApiService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="Uk.Bus.Service@2gis.local"/>
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>

</configuration>