<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- replace connection strings -->
  <connectionStrings>
    <add name="ODATA" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>