<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="MsCrmIntegrationMode" value="Full" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableElasticsearch" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="CachingMode" value="Distributed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DistributedCacheName" value="ErmRU" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERMLOADRUSSIA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServer" value="http://uk-test-sql01/ReportServer/Pages/ReportViewer.aspx?/Load.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportUrl" value="https://jira.2gis.ru/servicedesk/customer/portal/2/create/59" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AsyncMsCRMReplicationTimeoutSec" value="120" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Load.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="JobStoreType" value="TX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="TaskService.Scheduler.Load.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RegionalTerritoryLocaleSpecificWord" value="Региональная территория" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultVatRate" value="18" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MaxWorkingThreads" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseWarehouseIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="OperationLoggingTargets" value="DB;Queue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IdentityServiceUrl" value="https://identity.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


  <!-- replace connection strings -->

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmRU;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmRU;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmReports;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmSearch" connectionString="Endpoint=uk-erm-es10,uk-erm-es11,uk-erm-es12;Protocol=thrift;IndexPrefix=Load.Russia;BatchSize=10000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CrmConnection" providerName="" connectionString="Authentication Type=Integrated; Server=http://uk-crm10.2gis.local/DoubleGis" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmLoggingRU;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmInfrastructure" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmInfrastructure;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmPerformedOperationsServiceBus" connectionString="Endpoint=sb://uk-erm-es10.2gis.local/ERM-LoadRussia,sb://uk-erm-es11.2gis.local/ERM-LoadRussia,sb://uk-erm-es12.2gis.local/ERM-LoadRussia;StsEndpoint=https://uk-erm-es10.2gis.local:9355/ERM-LoadRussia,https://uk-erm-es11.2gis.local:9355/ERM-LoadRussia,https://uk-erm-es12.2gis.local:9355/ERM-LoadRussia;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={SharedAccessKey}" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="IntrospectionService" restUrl="https://metadata.api.load.erm.2gis.ru/Metadata.svc/Rest" baseUrl="https://metadata.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="OrderValidationService" restUrl="https://order-validation.api.load.erm.2gis.ru/Validate.svc/Rest" baseUrl="https://order-validation.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      
      <ermService name="BasicOperationsService" restUrl="https://basic-operations.api.load.erm.2gis.ru" baseUrl="https://basic-operations.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="MoDiService" restUrl="https://money-distribution.api.load.erm.2gis.ru" baseUrl="https://money-distribution.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="SpecialOperationsService" restUrl="https://financial-operations.api.load.erm.2gis.ru" baseUrl="https://financial-operations.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="RealeasingService" restUrl="https://releasing.api.load.erm.2gis.ru" baseUrl="https://releasing.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="WebClientService" restUrl="https://web-app.load.erm.2gis.ru" baseUrl="https://web-app.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </ermServices>
  </ermServicesSettings>

  <dataCacheClients xdt:Transform="Replace">
    <dataCacheClient name="default" maxConnectionsToServer="2">
      <hosts>
        <host name="uk-erm-iis10" cachePort="22233"/>
        <host name="uk-erm-iis11" cachePort="22233"/>
        <host name="uk-erm-iis12" cachePort="22233"/>
        <host name="uk-erm-arr11" cachePort="22233"/>
      </hosts>
    </dataCacheClient>
  </dataCacheClients>

  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="CanonicalHostNameRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^web-app\.load\.erm\.2gis\.ru$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://web-app.load.erm.2gis.ru/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectToHttpsRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^web-app\.load\.erm\.2gis\.ru$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Web app-->
        <add name="Access-Control-Allow-Origin" value="https://basic-operations.api.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='UI.Web.Mvc']])" />
        <!-- Metadata svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Metadata']])" />
        <!-- Operations svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations']])" />
        <!-- Operations.Special svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.load.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations.Special']])" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <client>
 
    </client>
  </system.serviceModel>
</configuration>