<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <schedule>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>ReportingJob</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.ReportingJob, 2GIS.NuClear.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>Запуск ReportingJob через simpletrigger</name>
        <group>Replication</group>

        <job-name>ReportingJob</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>
    
    <!-- ==================================================================================================================================== -->
	  <job>
		  <name>ImportFactsFromErmFlow</name>
		  <group>CustomerIntelligence</group>
		  <description>ImportFactsFromErmFlow</description>
		  <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.OperationsPrimaryProcessingJob, 2GIS.NuClear.Replication.EntryPoint</job-type>

		  <durable>true</durable>
		  <recover>false</recover>
	  </job>

	  <trigger>
		  <simple>
			  <name>ImportFactsFromErmFlow</name>
			  <group>CustomerIntelligence</group>

			  <job-name>ImportFactsFromErmFlow</job-name>
			  <job-group>CustomerIntelligence</job-group>

			  <job-data-map>
				  <entry>
					  <key>BatchSize</key>
					  <value>300</value>
				  </entry>
				  <entry>
					  <key>Flow</key>
					  <value>ImportFactsFromErmFlow</value>
				  </entry>
			  </job-data-map>

			  <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
			  <repeat-count>-1</repeat-count>
			  <repeat-interval>1000</repeat-interval>

		  </simple>
	  </trigger>

    <!-- ==================================================================================================================================== -->
	  <job>
		  <name>ImportFactsFromBitFlow</name>
		  <group>CustomerIntelligence</group>
		  <description>ImportFactsFromBitFlow</description>
		  <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.OperationsPrimaryProcessingJob, 2GIS.NuClear.Replication.EntryPoint</job-type>

		  <durable>true</durable>
		  <recover>false</recover>
	  </job>

	  <trigger>
		  <simple>
			  <name>ImportFactsFromBitFlow</name>
			  <group>CustomerIntelligence</group>

			  <job-name>ImportFactsFromBitFlow</job-name>
			  <job-group>CustomerIntelligence</job-group>

			  <job-data-map>
				  <entry>
					  <key>BatchSize</key>
					  <value>10</value>
				  </entry>
				  <entry>
					  <key>Flow</key>
					  <value>ImportFactsFromBitFlow</value>
				  </entry>
			  </job-data-map>

			  <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
			  <repeat-count>-1</repeat-count>
			  <repeat-interval>60000</repeat-interval>

		  </simple>
	  </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>OperationsFinalProcessingJob</name>
      <group>CustomerIntelligence</group>
      <description>OperationsFinalProcessingJob</description>
      <job-type>NuClear.Replication.EntryPoint.Jobs.OperationsFinalProcessingJob, 2GIS.NuClear.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ImportAggregatesFlow</name>
        <group>CustomerIntelligence</group>

        <job-name>OperationsFinalProcessingJob</job-name>
        <job-group>CustomerIntelligence</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>500</value>
          </entry>
          <entry>
            <key>Flows</key>
            <value>AggregatesFlow</value>
          </entry>
        </job-data-map>

		    <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>
    
    <!-- ==================================================================================================================================== -->
    <job>
      <name>CalculateStatisticsJob</name>
      <group>CustomerIntelligence</group>
      <description>OperationsFinalProcessingJob</description>
      <job-type>NuClear.Replication.EntryPoint.Jobs.OperationsFinalProcessingJob, 2GIS.NuClear.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>
    
    <trigger>
      <simple>
        <name>StatisticsFlow</name>
        <group>CustomerIntelligence</group>

        <job-name>CalculateStatisticsJob</job-name>
        <job-group>CustomerIntelligence</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>2000</value>
          </entry>
          <entry>
            <key>Flows</key>
            <value>StatisticsFlow</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>60000</repeat-interval>

      </simple>
    </trigger>

  </schedule>
</job-scheduling-data>
