<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Erm" connectionString="Data Source=:memory:;Version=3;New=True;" providerName="SQLite" />
    <add name="Facts" connectionString="Data Source=:memory:;Version=3;New=True;" providerName="SQLite" />
    <add name="CustomerIntelligence" connectionString="Data Source=:memory:;Version=3;New=True;" providerName="SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="SqlCommandTimeout" value="300" /><!-- in seconds -->
    <add key="SqlBulkCopyTimeout" value="300" /><!-- in seconds -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="f19f8aed7feff67e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.3" newVersion="1.0.7.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>