<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Metamodeling" version="1.6.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Model.Common" version="1.2.3-Multiple-3f297c-110" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings.API" version="1.1.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Storage.API" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Storage.LinqToDB" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Tracing.API" version="1.0.2" targetFramework="net451" />
  <package id="2GIS.NuClear.Utils" version="1.0.10" targetFramework="net451" />
  <package id="linq2db" version="1.0.7.4-alpha" targetFramework="net451" />
  <package id="linq2db.SQLite" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.t4models" version="0.0.1" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net451" />
</packages>