<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Erm"
             connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True;"
             providerName="SqlServer" />
        <add name="Facts"
             connectionString="Data Source=.;Initial Catalog=CustomerIntelligence;Integrated Security=True"
             providerName="SqlServer" />
        <add name="CustomerIntelligence"
             connectionString="Data Source=.;Initial Catalog=CustomerIntelligence;Integrated Security=True"
             providerName="SqlServer" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
