<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ReceiverEnityPath" value="{SourceTopic}/Subscriptions/{SourceSubscription}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SenderEnityPath" value="{DestTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrefetchCount" value="100"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Test.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EntryPointName" value="AdvancedSearch.ConvertUseCases"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="LogstashUri" value="tcp://uk-erm-kibana01:8193"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Source" connectionString="Endpoint=sb://uk-sql02.2gis.local/ERM-Test{EnvNum},sb://uk-sql01.2gis.local/ERM-Test{EnvNum};StsEndpoint=https://uk-sql02.2gis.local:9355/ERM-Test{EnvNum},https://uk-sql01.2gis.local:9355/ERM-Test{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:05"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="Dest" connectionString="Endpoint=sb://uk-sql02.2gis.local/ERM-Test{EnvNum},sb://uk-sql01.2gis.local/ERM-Test{EnvNum};StsEndpoint=https://uk-sql02.2gis.local:9355/ERM-Test{EnvNum},https://uk-sql01.2gis.local:9355/ERM-Test{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:05"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ErmLogging{EnvNum};Integrated Security=True;Enlist=False"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>