<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Test.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IntegrationApplicationName" value="ERM{EnvNum}.Search"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="ReplicationService.Scheduler.Test.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TransportEntityPath" value="{DestTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Erm" connectionString="Data Source=uk-sql01;Initial Catalog=Erm{EnvNum};Integrated Security=True;Enlist=False;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Facts" connectionString="Data Source=uk-sql01;Initial Catalog=CustomerIntelligence{EnvNum};Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustomerIntelligence" connectionString="Data Source=uk-sql01;Initial Catalog=CustomerIntelligence{EnvNum};Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Transport" connectionString="Data Source=uk-sql01;Initial Catalog=CustomerIntelligence{EnvNum};Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logging" connectionString="Data Source=uk-sql01;Initial Catalog=ErmLogging{EnvNum};Integrated Security=True;Enlist=False;Application Name=ReplicationLoggingService"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Infrastructure" connectionString="Data Source=uk-sql01;Initial Catalog=ErmInfrastructure;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql02.2gis.local/ERM-Test{EnvNum},sb://uk-sql01.2gis.local/ERM-Test{EnvNum};StsEndpoint=https://uk-sql02.2gis.local:9355/ERM-Test{EnvNum},https://uk-sql01.2gis.local:9355/ERM-Test{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:01"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>