<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
		</sectionGroup>
    <section name="graphite" type="Graphite.Configuration.GraphiteConfiguration, Graphite" />
	</configSections>
	<appSettings>
		<add key="IntegrationApplicationName" value="ERM21" />
		<add key="TransportEntityPath" value="topic.advancedsearch" />
		<add key="EntryPointName" value="ReplicationService" />
		<add key="TargetEnvironmentName" value="Dev" />
		<add key="MaxWorkingThreads" value="5" />
		<add key="JobStoreType" value="RAM" />
		<add key="SchedulerName" value="ReplicationService.Scheduler.Dev" />
    <add key="ZabbixUri" value="http://uk-erm-zbx01" />
	</appSettings>
  <graphite xmlns="http://github.com/peschuster/Graphite/Configuration">
    <graphite address="uk-rnd-02" port="2003" transport="Tcp" />
    <!--<statsd address="127.0.0.1" port="8125" prefixKey="test" />-->
  </graphite>
	<connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True;" />
    <add name="CustomerIntelligence" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=CustomerIntelligence;Integrated Security=True" />
    <add name="Logging" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmLogging;Integrated Security=True;Enlist=False;Application Name=ReplicationLoggingService" />
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql02.2gis.local/ERM-Test21,sb://uk-sql01.2gis.local/ERM-Test21;StsEndpoint=https://uk-sql02.2gis.local:9355/ERM-Test21,https://uk-sql01.2gis.local:9355/ERM-Test21;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=fWDhmeSQ9ss+Pp44oUirEizlzEg/oBBOxCaBCsspCLo=" />
    <add name="Infrastructure" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmInfrastructure;Integrated Security=True" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
				<arg key="configType" value="EXTERNAL" />
			</factoryAdapter>
		</logging>
	</common>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
		<bindings>
			<netTcpBinding>
				<binding name="netTcpConfiguration" maxReceivedMessageSize="2000000000" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
			</netTcpBinding>
		</bindings>
		<client>
			<!-- service bus broker -->
			<endpoint name="NetTcpBinding_IBrokerApiSender" address="net.tcp://uk-bus-test01.2gis.local:8091/BrokerApiService" binding="netTcpBinding" bindingConfiguration="netTcpConfiguration" contract="ServiceReference.IBrokerApiSender">
				<identity>
					<servicePrincipalName value="host/uk-bus-test01.2gis.local" />
				</identity>
			</endpoint>
			<endpoint name="NetTcpBinding_IBrokerApiReceiver" address="net.tcp://uk-bus-test01.2gis.local:8091/BrokerApiService" binding="netTcpBinding" bindingConfiguration="netTcpConfiguration" contract="ServiceReference.IBrokerApiReceiver">
				<identity>
					<servicePrincipalName value="host/uk-bus-test01.2gis.local" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
