<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EntryPointName" value="ReplicationService" />
    <add key="TargetEnvironmentName" value="Dev" />
    <add key="MaxWorkingThreads" value="5" />
    <add key="JobStoreType" value="RAM" />
    <add key="SchedulerName" value="ReplicationService.Scheduler.Dev" />
  </appSettings>
  <connectionStrings>
    <add name="QuartzJobStore" providerName="SqlServer-20" connectionString="Server=.;Database=Quartz;Trusted_Connection=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
