<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <schedule>

    <!--Debug Test job -->
    <!--
    <job>
      <name>DebugTestJob</name>
      <group>Replication</group>
      <description>DebugTestJob</description>
      <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.DebugTestJob, 2GIS.NuClear.AdvancedSearch.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>

    </job>

    <trigger>
      <simple>
        <name>Запуск DebugTestJob через simpletrigger</name>
        <group>Replication</group>

        <job-name>DebugTestJob</job-name>
        <job-group>Replication</job-group>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
      </simple>
    </trigger>
    
    -->

    <job>
      <name>ReportingJob</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.ReportingJob, 2GIS.NuClear.AdvancedSearch.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>Запуск ReportingJob через simpletrigger</name>
        <group>Replication</group>

        <job-name>ReportingJob</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>5000</repeat-interval>
      </simple>
    </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>ImportFactsFromErmFlow</name>
      <group>CustomerIntelligence</group>
      <description>ImportFactsFromErmFlow</description>
      <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.OperationsPrimaryProcessingJob, 2GIS.NuClear.AdvancedSearch.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ImportFactsFromErmFlow</name>
        <group>CustomerIntelligence</group>

        <job-name>ImportFactsFromErmFlow</job-name>
        <job-group>CustomerIntelligence</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ImportFactsFromErmFlow</value>
          </entry>
        </job-data-map>

        <repeat-count>-1</repeat-count>
        <repeat-interval>5000</repeat-interval>

      </simple>
    </trigger>

    <job>
      <name>ImportFactsFromBitFlow</name>
      <group>CustomerIntelligence</group>
      <description>ImportFactsFromBitFlow</description>
      <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.OperationsPrimaryProcessingJob, 2GIS.NuClear.AdvancedSearch.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ImportFactsFromBitFlow</name>
        <group>CustomerIntelligence</group>

        <job-name>ImportFactsFromBitFlow</job-name>
        <job-group>CustomerIntelligence</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ImportFactsFromBitFlow</value>
          </entry>
          <entry>
            <key>TimeSafetyOffsetHours</key>
            <value>2</value>
          </entry>
        </job-data-map>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>

      </simple>
    </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>OperationsFinalProcessingJob</name>
      <group>CustomerIntelligence</group>
      <description>OperationsFinalProcessingJob</description>
      <job-type>NuClear.AdvancedSearch.Replication.EntryPoint.Jobs.OperationsFinalProcessingJob, 2GIS.NuClear.AdvancedSearch.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ImportAggregatesFlow</name>
        <group>CustomerIntelligence</group>

        <job-name>OperationsFinalProcessingJob</job-name>
        <job-group>CustomerIntelligence</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>Flows</key>
            <value>AggregatesFlow</value>
          </entry>
        </job-data-map>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>

    <trigger>
      <simple>
        <name>ProjectStatisticsFlow</name>
        <group>CustomerIntelligence</group>

        <job-name>OperationsFinalProcessingJob</job-name>
        <job-group>CustomerIntelligence</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Flows</key>
            <value>ProjectStatisticsFlow</value>
          </entry>
        </job-data-map>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>

  </schedule>
</job-scheduling-data>
