<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <schedule>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>ImportFactsFromOrderValidationConfigFlow</name>
      <group>ValidationRules</group>
      <description>ImportFactsFromOrderValidationConfigFlow</description>
      <job-type>NuClear.Replication.EntryPoint.Jobs.OperationsPrimaryProcessingJob, 2GIS.NuClear.Replication.EntryPoint</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>ImportFactsFromOrderValidationConfigFlow</name>
        <group>ValidationRules</group>

        <job-name>ImportFactsFromOrderValidationConfigFlow</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>ImportFactsFromOrderValidationConfigFlow</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>
  </schedule>
</job-scheduling-data>
