<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Messaging.API" version="1.0.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Metamodeling" version="1.1.4" targetFramework="net451" />
  <package id="2GIS.NuClear.Model.Common" version="1.1.0" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsTracking.API" version="1.0.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Tracing.API" version="1.0.2" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>