<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Metamodeling" version="1.6.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Utils" version="1.0.4" targetFramework="net451" />
  <package id="Microsoft.AspNet.OData" version="5.5.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.OData.Core" version="6.11.0" targetFramework="net451" />
  <package id="Microsoft.OData.Edm" version="6.11.0" targetFramework="net451" />
  <package id="Microsoft.Spatial" version="6.11.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>