<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <connectionStrings>
        <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Erm-Model;Integrated Security=True" />
        <add name="Facts" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Facts-Model;Integrated Security=True" />
        <add name="CustomerIntelligence" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CustomerIntelligence-Model;Integrated Security=True" />
        <add name="Bit" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Bit-Model;Integrated Security=True" />
        <add name="Statistics" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Statistics-Model;Integrated Security=True" />
    </connectionStrings>

</configuration>
