<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Assembling" version="1.0.4" targetFramework="net451" />
  <package id="2GIS.NuClear.Messaging.API" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.Messaging.Transports.CorporateBus" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.Messaging.Transports.ServiceBus" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.Metamodeling" version="1.6.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Model.Common" version="1.2.0-Multiple-366a56-35" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsLogging.API" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsLogging.Transports.ServiceBus" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsProcessing.API" version="1.0.7.1" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsProcessing.Transports.ServiceBus" version="1.0.7.1" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsProcessing.Transports.SQLStore" version="1.0.7.1" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsTracking" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.OperationsTracking.API" version="1.0.7" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings" version="1.1.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings.API" version="1.1.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Tracing.API" version="1.0.2" targetFramework="net451" />
  <package id="2GIS.NuClear.Utils" version="1.0.4" targetFramework="net451" />
  <package id="2GIS.NuClear.Utils.Legacy" version="1.0.4" targetFramework="net451" />
  <package id="2GIS.NuClear.WCF.Client" version="1.0.5-local-000000-0" targetFramework="net451" />
  <package id="linq2db" version="1.0.7.1-b" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.669" targetFramework="net451" />
  <package id="ServiceBus.v1_1" version="1.0.4.0" targetFramework="net451" />
</packages>