<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="uk-erm-build03" value="http://uk-erm-build03/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
</configuration>