<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="nuget.2gis.local" value="http://nuget.2gis.local/nuget" />
  </packageSources>
</configuration>