<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Erm"
      connectionString = "Data Source=:memory:;Version=3;New=True;"
      providerName     = "SQLite" />
    <add name="Facts"
      connectionString = "Data Source=:memory:;Version=3;New=True;"
      providerName     = "SQLite" />
    <add name="CustomerIntelligence"
      connectionString = "Data Source=:memory:;Version=3;New=True;"
      providerName     = "SQLite" />
    <add name="ErmSqlServer"
      connectionString = "Data Source=.;Initial Catalog=Erm;Integrated Security=True;"
      providerName     = "SqlServer" />
    <add name="FactsSqlServer"
      connectionString = "Data Source=.;Initial Catalog=CustomerIntelligence;Integrated Security=True"
      providerName     = "SqlServer" />
    <add name="CustomerIntelligenceSqlServer"
      connectionString = "Data Source=.;Initial Catalog=CustomerIntelligence;Integrated Security=True"
      providerName     = "SqlServer" />
  </connectionStrings>
  <appSettings>
    <add key="SqlCommandTimeout" value="600"/><!-- in seconds -->
    <add key="SqlBulkCopyTimeout" value="600"/><!-- in seconds -->
  </appSettings>
</configuration>