<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="1.0.7.2" targetFramework="net451" />
  <package id="linq2db.SQLite" version="1.0.7" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net451" />
</packages>